@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0F0F1A;
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0F0F1A;
}

::-webkit-scrollbar-thumb {
  background: #2A2A40;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7C3AED;
}
